body {
    background-color: #F7F7F7;


}

.redesign-header {
    max-width: 5vw;
}

.nav-item {
    padding: 2vw;
}

.body-wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
}

div.img-wrapper>img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2vw;
    color: #871500;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* .body-wrapper{
    height: 100vw;

} */
/* .column {
    float: left;
    width: 33.33%;
    padding: 1vw;
} */

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    margin-top: 3vw;
    display: flex;


}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;

}

.box1 {
    width: 50%;
    height: 35vw;
    font-size: 2vw;
    align-items: center;
    margin-bottom: 1vw;
}

.col-lg-4>img {
    border-radius: 2vw;
    border: 1px solid gray;
    box-shadow: 0px 4px 4px 0px hsl(0deg 0% 0% / 25%);

}

.col-lg-4>img:hover {
    transform: scale(1.05)
}


.nav-item > a > button {
    background-color: #EBB140;
    border-radius: 1vw;
    border: 0.1vw solid black;
    margin: auto;
    display: block;
    font-size: 1vw;

}
.box > button {
    background-color: #EBB140;
    border-radius: 1vw;
    border: 0.1vw solid black;
    margin: auto;
    margin-top: 1vw;
    display: block;
    height: 2vw;
    font-size: 1vw;

}

.box > button:hover {
    background-color: #BC8833;
    color: white;
    border-radius: 1vw;
}


h1 {
    text-align: center;
    margin-bottom: 2vw;
    color: #E76335;
    font-style: italic;
    font-family: 'Neucha', cursive;
    font-size: 3vw;
}

.img-wrapper>img {
    border-radius: 2vw;
    border: 0.5vw solid gray;
    box-shadow: 0px 4px 4px 0px hsl(0deg 0% 0% / 25%);
}

.image-wrapper1>img {
    border-radius: 2vw;
    box-shadow: 0px 4px 4px 0px hsl(0deg 0% 0% / 25%);
}

.box {
    width: 100%;
    height: 20vw;
    border: 0.1vw solid #000000;
}

p {
    font-size: 2vw;
    text-align: center;
}

input {
    margin: auto;

    display: block;
    width: 40%;
    height: 2vw;
    border-radius: 1vw;
    text-align: left;
    font-size: 1vw;
}