:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --select-text-bg-color: #B5D6FC;
    --select-text-font-color: auto;
    --monospace: "Lucida Console", Consolas, "Courier", monospace;
    --title-bar-height: 20px;
}

.navbar {
    background-color: #BABCBF;
    margin-bottom: 0px;
}

#head-nav {
    color: #6A6A6C;
    font-size: 20px;
    /* padding-left: 40px;
    padding-right: 40px; */
    font-family: 'Baskervville', serif;
}

.navbar a:hover {
    background-color: rgb(214, 183, 181, 0.4);
}

.navbar a:focus {
    background: #F5F0ED;
}

h1 {
    font-family: 'Lilita One';
    color: #025B6D;
    text-align: center;
    padding-top: 40px;
}

h2 {
    font-family: 'IBM Plex Sans Hebrew';
    color: #0869FB;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #D6B7B5;
    padding-left: 50px;
    padding-top: 10px;
    margin-bottom: 30px;

}

h4 {
    text-align: center;
    font-size: 15px;
}

.parallax {
    min-height: 550px;
    background: transparent;
    padding: 20px;
    background-color: #0984E2;
    margin-bottom: 1vw;
    ;
}

.projectParallax {
    min-height: 450px;
    background: transparent;
    padding: 20px;
}

p {
    font-family: 'Baskervville', serif;
    color: black;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 70px;
}

li {
    font-family: 'Baskervville', serif;
    color: black;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 70px;

}

.paratext {
    padding-bottom: 5%;
}

.outline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background: transparent;
}

.para1 {
    z-index: 2;
    position: relative;
    text-align: center;
}

body {
    background-color: white;
}

.para2 {
    z-index: 2;
    position: relative;
    text-align: center;
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
    line-height: 1.45em;
    margin-top: 1vh;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    overflow-y: auto;
}

div.image-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}







a:hover {
    color: pink;
    text-decoration: none;
}

a {
    color: #463F5C;
    text-decoration: underline;
}

#write {
    padding-top: 2rem;
}

.box1-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}


.box {
    place-items: center;
    min-height: 400px;
    border: 8px solid;
    padding: 1rem;
    border-width: 10px;
    border-image: linear-gradient(to bottom, turquoise, blue) 0 1;
}
.flex-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}






.usability {
    border: 10px solid #000000;
}



.paragraph {
    text-align: left;
    font-size: 1.5vw;
    ;
}

img {
    padding: 0px;
    margin: 0px;
}

.nav-item {
    margin-left: 1vw;
    text-align: right;
}



div.image-wrapper>a>img {
    max-height: 60%;
    max-width: 60%;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.image-wrapper1>img {
    max-height: 80%;
    max-width: 80%;
    align-items: center;
}

.outlined {
    /* border: 1px solid gray; */
    box-shadow: 0px 4px 4px 0px hsl(0deg 0% 0% / 25%);
}

.outlined:hover {
    transform: scale(1.05);
    /* opacity: 0.3; */
}

.text1 {
    background-color: #0984E2;
    color: white;
    font-size: 16px;
    padding: 16px 10px;
}


div.image-wrapper>img {
    max-height: 50%;
    max-width: 50%;
    margin-bottom: 1vw;
}

.carousel-inner>.item>img {
    margin: auto;
}


.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1vm;
    margin-bottom: 2vw;
}

/* port-lligat-sans-regular - latin */
@font-face {
    font-family: 'Port Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Port Sans') url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.svg#PortLligatSans') format('svg');
    /* Legacy iOS */
}

/* concert-one-regular - latin */
@font-face {
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Concert One'),
        url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.svg') format('svg');
    /* Legacy iOS */
}

/* lilita-one-regular - latin */
@font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Lilita One'),
        url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.svg') format('svg');
    /* Legacy iOS */
}

/* ibm-plex-sans-hebrew-regular - latin */
@font-face {
    font-family: 'IBM Plex Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('IBM Plex Sans Hebrew'),
        url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.svg') format('svg');
    /* Legacy iOS */
}

/* gurajada-regular - latin */
@font-face {
    font-family: 'Gurajada';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Gurajada'),
        url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.svg') format('svg');
    /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/nunito-v25-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/nunito-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/nunito-v25-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/nunito-v25-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/nunito-v25-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/nunito-v25-latin-regular.svg#Nunito') format('svg');
    /* Legacy iOS */
}